<div class="div-center">
    <h1>Register User</h1>
    <div class="content">
        <div class="div-register">
            <label class="label-title">Username</label>
            <input type="email" class="input-login" [(ngModel)]="username">
        </div>
        <div class="div-register">
            <label class="label-title">Password</label>
            <input type="password" class="input-login" [(ngModel)]="password">
        </div>
        <div class="div-button">
            <button type="submit" class="btn-login" (click)="singUp()">Sing Up</button>
        </div>   
    </div>  
</div>

